.total{

    padding: 5px;
    width: 45%;
    background-color: rgb(53, 50, 50);
    border-radius: 10px;


}
.total>h1{
    margin: 0;
    color:rgb(180, 170, 170);

}
.total_expense>h1{
    margin: 0;
    color:red;

}
.total_expense{
    padding: 5px;
    width: 45%;
    background-color: rgb(53, 50, 50);
    border-radius: 10px;

}
.total_conatiner{
    margin-top: 30px;
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
}
.balance{
    margin-top: 20px;
    margin-left: 27.5%;
    color: rgb(12, 160, 12);
    padding: 5px;
    width: 45%;
    background-color: rgb(53, 50, 50);
    border-radius: 10px;

}
.balance>h1{
    margin: 0;
}
.total_cont>h3{
    color:rgb(112, 110, 110);
}

